@CHARSET "ISO-8859-1";

#shell pre {
		background-color : #000;
		overflow:auto;
		overflow-y:none;
		padding-bottom: 10px;
		padding-top: 10px;
		padding-left: 10px;
		padding-right: 10px;
		font-family:verdana, arial;
		color:#fff;
		font-size:12px; 
		text-decoration : none;
}
